@page
@model FuncionariosModel
@{
    ViewData["Title"] = "Gerenciamento de Funcion치rios";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <label for="nomeFuncionario">Nome do Funcion치rio:</label>
    <input type="text" asp-for="NovoFuncionario.Name" required />
    <button type="submit">Adicionar</button>
</form>

@if (Model.Funcionarios.Any())
{
    <h2>Lista de Funcion치rios</h2>
    <ul>
        @foreach (var funcionario in Model.Funcionarios)
        {
            <li>@funcionario.Id - @funcionario.Name</li>
        }
    </ul>
}
else
{
    <p>Nenhum funcion치rio cadastrado.</p>
}
